.payment {
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.2px 0.2px cyan;
  margin: auto auto;
  width: 300px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 1px 1px white;
}

.amount {
  background-color: rgb(149, 187, 187);
  height: 150px;
}

.total-amount {
  padding: 12px 8px;
}

.hr-line {
  height: 2px;
  background-color: gray;
  width: 280px;
  margin: auto auto;
  border-radius: 2px;
}

.options>input {
  width: 60px;
}

.card-no {
  display: flex;
  justify-content: space-around;
}

.card-no>input {
  width: 210px;
  height: 25px;
  border-radius: 4px;
}

.card-details {
  display: flex;
  justify-content: space-evenly;
}

#mm-yy {
  width: 75px;
}

.cvv {
  width: 75px;
  border-radius: 4px;
  height: 25px;
}

.pay {
  display: flex;
  justify-content: space-around;
}

.pay>button {
  background-color: rgb(100, 100, 250);
  color: white;
  width: 240px;
  margin-top: 15px;
  height: 35px;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
}

.pay>button:hover {
  background-color: rgb(50, 50, 250);
}